* {
    margin: 0;
    padding: 0;
    font-family: Gill Sans, Helvetica, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
}

.main-content {
    grid-column: 1/1;
    grid-row: 1/2;
}

.side-content {
    grid-column: 1/1;
    grid-row: 2/3;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 40vh;
    display: flex;
}

.home-header {
    width: fit-content;
    /* height: 40vh; */
    margin: auto;
}

.btn {
    padding: 0.5rem;
    background-color: #a1caf1;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid black;
}

.btn:hover {
    color: white;
    background-color: black;
}

.btn:focus {
    outline: none;
}

.select {
    padding: 0.44rem;
    background-color: #a1caf1;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
}

.select:focus {
    outline: none;
}

.select:hover {
    color: white;
    background-color: black;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.link:hover {
    border-bottom: 1.5px solid black;
}

.county-link {
    width: fit-content;
}

.county-link:hover {
    color: #515152;
}

.center-text {
    text-align: center;
}

.center {
    margin: auto;
}

.center-div {
    width: fit-content;
    margin: auto;
}

.center-btn {
    display: block;
    margin: 0.5rem auto 0 auto;
}

.great {
    background-color: green;
}

.good {
    background-color: lightgreen;
}

.not-good {
    background-color: lightpink;
}

.bad {
    background-color: red;
}

.selected {
    background-color: lightgrey;
}

.banner-title {
    background-color: white;
    padding: 0.5rem;
    font-size: xx-large;
}

.home-header-title {
    font-size: xx-large;
}

.home-header-text {
    font-size: x-large;
    font-weight: 600;
}

.home-header-btn {
    font-size: large;
}

.home-header-item {
    background-color: white;
    padding: 0.5rem;
    width: fit-content;
}

/* MARGIN & PADDING */

.m-1 {
    margin: 1rem;
}

.ml-05 {
    margin-left: 0.5rem;
}

.mr-05 {
    margin-right: 0.5rem;
}

.mb-05 {
    margin-bottom: 0.5rem;
}

.mt-05 {
    margin-top: 0.5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.m-auto {
    margin: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.mr-1 {
    margin-right: 1rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

/* NAVBAR */

nav {
    background-color: #a1caf1;
    /* border-bottom: 1px solid black; */
    padding: 15px;
    background-image: url("https://images.pexels.com/photos/2501965/pexels-photo-2501965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center bottom;
}

.nav-title {
    font-weight: bolder;
    font-size: larger;
    margin-right: 15px;
}

.nav-link-container {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    /* float: right; */
}

.nav-item {
    display: inline;
    /* width: 50px; */
    color: black;
    text-decoration: none;
    padding-left: 10px;
    font-weight: bold;
}

.nav-item:hover {
    color: #515152;
}

.lg-nav {
    /* height: 30px; */
}

.search {
    width: 150px;
    padding: 5px;
    /* padding: 0.3rem; */
    border: none;
    border-radius: 2px;
    position: relative;
    display: inline-block;
}

.search:focus {
    outline-color: black;
    /* border: 1px solid black; */
}

.search-results {
    width: 160px;
    margin-top: 0.25rem;
    position: absolute;
    background-color: white;
}

.search-results-item {
    cursor: pointer;
    padding: 0.3rem;
    border-bottom: 1px solid black;
}

.search-results-item:hover {
    background-color: #a1caf1;
}

.search-link {
    color: black;
    text-decoration: none;
}

.nav-dropdown {
    padding-left: 10px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    top: 30px;
    right: -3px;
}

.dropdown-item {
    display: block;
    width: inherit;
    padding: 0.25rem;
    border-radius: 5px;
}

.dropdown-item:hover {
    background-color: #a1caf1;
    color: black;
}

.dropdown-btn {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.dropdown-btn:hover {
    color: #515152;
}

.dropdown-header {
    margin: 0.25rem;
    color: darkgray;
}

.resposive-content {
    width: inherit;
}

.show {
    display: block;
}

.show-nav {
    display: inline-block;
}

.show-flex {
    display: flex;
}

.hide {
    display: none;
}

/* FEEDBACK */

.feedback-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 98;
    /* margin: 5px; */
}

.feedback-form {
    background-color: lightgrey;
    border-radius: 5px;
    /* height: 250px; */
    width: 250px;
}

.feedback-email {
    width: 90%;
    margin: 1rem auto 0 auto;
    display: block;
    padding: 1%;
}

.feedback-msg {
    width: 95%;
    margin: 1rem auto 0 auto;
    display: block;
    height: 150px;
    padding: 1%;
    outline: none;
}

.fixed-btn {
    padding: 10px;
    border: none;
    outline: none;
    background-color: #a1caf1;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.fixed-btn:hover {
    background-color: black;
    color: white;
}

/* EMAIL */

.email-list-container {
    position: fixed;
    bottom: 0;
    /* height: 50px; */
    width: 100%;
    background-color: lightgrey;
    z-index: 99;
    display: flex;
}

.email-list-email {
    display: block;
    padding: 0.25rem;
    margin: 0.5rem auto 0 auto;
    width: 75%;
}

.email-list-text {
    display: block;
    font-weight: 600;
}

.email-list-btn-container {
    position: fixed;
    bottom: 0;
    z-index: 99;
}

.email-list-btn {
}

/* Temp Chart */
.temp-chart-legend {
    width: fit-content;
    margin: 0 auto;
}

.temp-chart-legend-item {
    width: 40px;
    height: 13px;
    display: inline-block;
}

.temp-chart-legend-text {
    font-size: small;
}

.temp-hot {
    background-color: #eb4034;
}

.temp-cold {
    background-color: #0392ff;
}

.pie-chart {
    position: relative;
    width: 100%;
    height: 500px;
}

/* TABLE */

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td,
th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: center;
}

/* PLACE */

.county-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.county-list {
    border: 2px solid #a1caf1;
    border-radius: 10px;
    width: 90%;
    display: inline-block;
    padding: 1%;
    box-shadow: 2.5px 2.5px 4px lightgrey;
    /* margin: auto; */
}

/* SPINNER */
.loading {
    border: 16px solid darkgrey;
    border-top: 16px solid black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 99;
    top: 30%;
    left: 45%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* HOME */

.home-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home-item {
    width: 90%;
    /* background-color: #a1caf1; */
    text-align: center;
    border: 2px solid #a1caf1;
    margin: 0 0.4rem 0.4rem 0.4rem;
    box-shadow: 2.5px 2.5px 4px lightgrey;
    padding: 0.35rem;
    border-radius: 10px;
}

.county-item {
    width: 90%;
    /* background-color: #a1caf1; */
    text-align: center;
    border: 2px solid #a1caf1;
    margin: 0.5rem auto;
    box-shadow: 2.5px 2.5px 4px lightgrey;
    padding: 0.35rem;
    border-radius: 10px;
}

.not-available {
    color: red;
}

.home-btn {
    display: block;
    margin: 1rem auto;
}

.metro-item {
    width: 90%;
    /* background-color: #a1caf1; */
    text-align: center;
    border: 2px solid #a1caf1;
    margin: 0 0.4rem 0.4rem 0.4rem;
    box-shadow: 2.5px 2.5px 4px lightgrey;
    padding: 0.35rem;
    border-radius: 10px;
}

.bar-item {
    /* text-align: left; */
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.bar-name {
    font-size: small;
    float: left;
    padding: 0.25rem 0 0.25rem 0.25rem;
    height: 17px;
}

.bar {
    height: 25px;
    width: 75%;
    /* background-color: #a1caf1; */
    border: 1px solid black;
    display: inline-block;
    float: right;
}

.bar-fill {
    background-color: #a1caf1;
    height: inherit;
}

.bar-fill-text {
    float: left;
    font-size: smaller;
    padding: 0.25rem 0 0.25rem 0.25rem;
    height: 17px;
    font-weight: bold;
}

.score-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #a1caf1;
    border-radius: 10px;
    padding: 1% 1% 0 1%;
    box-shadow: 2.5px 2.5px 4px lightgrey;
}

.score-item {
    width: 100%;
}

.bar-great {
    width: 100%;
}

.bar-good {
    width: 75%;
}

.bar-fair {
    width: 50%;
}

.bar-poor {
    width: 25%;
}

.bar-empty {
    width: 0;
}

.filter-container {
    max-width: 1000px;
    margin: 0 auto;
    /* display: flex; */
    flex-wrap: wrap;
}

.filter-option {
    width: 100%;
    margin: auto;
}

.filter-btn {
    padding: 0.5rem;
    border-radius: 0;
    border: none;
    background-color: white;
}

.filter-btn:hover {
    background-color: lightgrey;
}

.filter-btn:focus {
    outline: none;
}

.filter-section {
    width: fit-content;
    border: 1px solid black;
    display: block;
    margin: 0.5rem auto 0 auto;
}

.current-filters {
    max-width: 1000px;
    /* margin: 1rem auto 0 auto; */
    margin-left: auto;
    margin-right: auto;
}

.current-filters-item {
    padding: 0.5rem;
    margin-left: 0.5rem;
    /* border: 1px solid black; */
    box-shadow: 0 0 5px lightgrey;
    width: fit-content;
    display: inline-block;
    border-radius: 5px;
}

.remove-filter {
    cursor: pointer;
    font-weight: bold;
}

.remove-filter:hover {
    color: #515152;
}

.selected {
    background-color: lightgrey;
}

.filter-name {
    text-transform: capitalize;
    font-weight: bold;
}

.filter-title {
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 0.5rem;
}

@media only screen and (min-width: 768px) {
    .home-item {
        width: 45%;
    }

    .pie-chart {
        height: 400px;
    }
}

/* @media only screen and (min-width: 768px) { */
@media only screen and (min-width: 839px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    .main-content {
        grid-column: 1/3;
        grid-row: 1/1;
    }

    .side-content {
        grid-column: 3/4;
        grid-row: 1/1;
    }

    .home-item {
        width: 30%;
    }

    .county-item {
        width: 40%;
    }

    .county-list {
        width: 45%;
    }

    .table-container {
        width: 50%;
        display: inline-block;
    }

    .score-item {
        width: 50%;
    }

    .filter-option {
        width: 33%;
    }

    .filter-title {
        display: inline-block;
    }

    .filter-section {
        width: fit-content;
        display: inline-block;
    }

    /* .pie-chart {
        height: 400px;
    } */
}
